/*Desktop View*/
@media (min-width: 992px){
	
	#heading{
		text-align: center;
		font-family: Helvetica;
		margin-bottom: 70px;
	}

	.dalt{
		width:25%;
		height: 300px;
		border: 2px solid black;
		background-color: grey;		
		float: left;
		margin-right: 4%;
		margin-left: 4%;
		box-sizing:border-box;
		overflow: auto;
		
	}
	.pt{
		margin: 0px;
		padding-top: 5px;
		text-align: center;
		float: right;
		font-size: 20px;
		font-family: calibri;
		width: 100px;
		height: 40px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		box-sizing:border-box;


	}

	#pt1{
		background-color: pink;
	}
	#pt2{
		background-color: cyan;
	}
	#pt3{
		background-color: yellow;
	}

	.pm{
		margin-top: 15%; 
		padding: 2%;
		text-align: justify;
		font-size: 16px;
		font-family: calibri;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	#heading{
		text-align: center;
		font-family: Helvetica;
		margin-bottom: 70px;
	}
	.dalt{
		background-color: grey;
		border: 2px solid black;
		box-sizing:border-box;
		overflow: auto;

	}
	#div1{
		width: 40%;
		height:200px;
		background-color: grey;
		float: left;
		margin-left: 5%;
		margin-right: 5%;
		

	}
	#div2{
		width: 40%;
		height:200px;
		float: left;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#div3{
		width: 90%;
		height:200px;
	  	float: left;
		margin-top: 20px;
		margin-left: 5%;
		margin-right: 5%;
	}
	.pt{
		margin: 0px;
		padding-top: 5px;
		text-align: center;
		float: right;
		font-size: 20px;
		font-family: calibri;
		width: 100px;
		height: 40px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		box-sizing:border-box;
	}
	#pt1{
		background-color: pink;
	}
	#pt2{
		background-color: cyan;
	}
	#pt3{
		background-color: yellow;
	}
	.pm{
		margin-top: 10%; 
		padding-left: 2%;
		padding-right: 2%;
		text-align: justify;
		font-size: 16px;
		font-family: calibri;
	}
	#pm3{
		margin-top: 8%;
	}

}
@media (max-width: 767px){

	#heading{
		text-align: center;
		font-family: Helvetica;
		margin-bottom: 70px;
	}
	.dalt{
		width: 90%;
		height:200px;
		background-color: grey;
		float: left;
		margin-left: 5%;
		margin-right: 5%;
		background-color: grey;
		border: 2px solid black;
		margin-bottom: 10px;
		box-sizing:border-box;
		overflow: auto;

	}
	.pt{
		margin: 0px;
		padding-top: 5px;
		text-align: center;
		float: right;
		font-size: 20px;
		font-family: calibri;
		width: 100px;
		height: 40px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		box-sizing:border-box;
	}
	#pt1{
		background-color: pink;
	}
	#pt2{
		background-color: cyan;
	}
	#pt3{
		background-color: yellow;
	}
	.pm{
		margin-top: 10%; 
		padding-left: 2%;
		padding-right: 2%;
		text-align: justify;
		font-size: 16px;
		font-family: calibri;
	}
	#pm3{
		margin-top: 8%;
	}
	
}
 
	